.start-button{
    all: unset;
    font-size: 20px;
    font-weight: bold;
    padding-right: 9px;
    
    transition: ease-in;
    transition: 300ms;
    
    
}
.start{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;

 border: 3px solid #FFEF61;
 border-radius: 12px;

 width: 260px;
 height: 56px;

 cursor: pointer;
 margin-top: 9px;
  
}
.start:hover .start-button{
        font-size: 25px;
       }

