.initial {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}
.logo-img{
  margin: 10vh auto 3vh auto;
}

.logo-mini{
    display: flex;
    justify-content: flex-start;
}
.input-number input{
    all: unset;
    border: 1px solid rgba(0, 0, 0,0.09);
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);

    width: 345px;
    height: 49px;

    margin-bottom: 5px;
    padding: 9px;

    cursor: pointer;
}
.input-number p{
color: rgb(245, 60, 60);
text-align: center;

}
@media(max-width:1100px){
   
    .input-number input{
        all: unset;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 12px;
    
        width: 260px;
        height: 49px;

        padding: 12px;
    
    
    }
}
