
.flashcard{

    width: 340px;
    height: 500px;

    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);
    border-radius: 12px;

    padding:12px;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;

    position: relative;

    
}

.flashcard .text-answer, .flashcard .text-question{
    font-weight: bold;
    font-size: 28px;

    word-wrap: break-word;
    text-align: center;

    padding: 9px;
}
.flashcards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counter{
    font: 10px;
    font-weight: bold;

    position: absolute;
    right: 9px;
    top: 9px;
}

.turn-around img{
    position: absolute;
    bottom: 9px;
    right: 9px;

    width: 39px;

    cursor: pointer;
}
.turn-around img:hover{
    width: 49px;
}
.title{
    position: absolute;
    left: 0;
    right: 0;
    top: 9px;
    text-align: center;

    font-weight: bold;

    padding: 0 45px 0 45px;
}
.rewards{
    display: flex;
    justify-content: space-around;
    gap: 9px;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 9px;
}
.rewards div{
    width: 75px;
    height: 65px;

    border-radius: 12px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.12);

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    cursor: pointer;

    font-size: 17px;
}
.rewards div:hover{
    font-size: 18px;
    font-weight: bold;
}
div.just-learned{
    border:#0f0f0f solid 5px;
}
div.dont-remember{
    border:#F64848 solid 5px;
}
div.remember{
    border:#1b8f17 solid 5px;
}
div.really-remember{
    border:#ffc21c solid 5px;
    box-shadow: 0px 0px 24px #ffc21c;
}

.Black{
    border:black solid 5px;
    box-shadow: 0px 0px 24px black;
}
.Red{
    border:#F64848 solid 5px;
    box-shadow: 0px 0px 24px #F64848;
}
.Green{
    border:#1b8f17 solid 5px;
    box-shadow: 0px 0px 24px #1b8f17;
}
.Yellow{
    border:#ffc21c solid 5px;
    box-shadow: 0px 0px 24px #ffc21c;
}
.rotate{
    animation: transitionIn 1.3s;
}
@keyframes transitionIn {
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}
@media(max-width:960px){
    .flashcard{

        width: 290px;
        height: 460px;
}
.rewards div{
    width: 59px;
    height: 59px;

    font-size: 12px;
}
.rewards div:hover{
    font-size: 13px;
    font-weight: bold;
}

div.title{
    font-size: 11px;
}
.flashcard .text-answer, .flashcard .text-question{
    font-size: 22px;
}

}